*{padding: 0px;margin: 0px;font-size: 12px;box-sizing: border-box;}
body{
    width: 1300px;
    margin: 0px auto;
}
#top{
    width: 1300px;
    height: 100px;
    position: relative;
    border-bottom: 1px #eaeaea solid;
    background: url(../img/loginlogo.jpg) no-repeat;
    background-position: 70px  15px;
}
#top p{
    width: 170px;
    height: 30px;
    line-height: 30px;
    float: right;
    margin: 40px 130px;
    color: gray;
}
#top p a{
    margin-left: 5px;
    text-decoration: none;
    color: #086BCE;
}
#top select{
    width: 100px;
    height: 30px;
    text-indent: 25px;
    position: absolute;
    top: 40px;
    right: 10px;
    background: url(../img/runbun.png) no-repeat 5px;
}
#zhong{
    background: #fcfcfc;
    width: 100%;
    height: 520px;
    border-bottom: 1px blue solid;
    background: url(../img/loadimg.jpg) no-repeat;
    background-position: 150px 50px;
    position: relative;
}
#zhong #box{
    position: absolute;
    right: 150px;
    width: 330px;
    top: 100px;
}
#zhong #box p:nth-of-type(1){
    font-weight: 600;
    font-size: 13px;
}
#zhong #box p:nth-of-type(1) a{
    text-decoration: none;
    color: #1173D1;
    margin-left: 185px;
}
#zhong #box input:nth-of-type(1){
    width: 330px;
    height: 50px;
    margin-top: 20px;
    font-size: 14px;
    text-indent: 5.2em;
    background: url(../img/i_u.png) no-repeat;
    
    background-position: 20px center;
}
#zhong #box input:nth-of-type(2){
    width: 330px;
    height: 50px;
    margin-top: 10px;
    font-size: 14px;
    text-indent: 5.2em;
    background: url(../img/lock.png) no-repeat;
    background-position: 20px center;
}
#zhong #box input:nth-of-type(3){
    margin-top: 10px;
    text-align: center;
}
#zhong #box>span{
    margin-left: 205px;
}
#zhong #box p:nth-of-type(2){
    width: 330px;
    height: 50px;
    background: #FF3C3C;
    margin-top: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: white;
}
#zhong #box p:nth-of-type(3){
    margin-top: 15px;
    margin-bottom: 15px;
}
#zhong #box p:nth-of-type(5){
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#zhong #box p:nth-of-type(4) img{
    margin-right: 10px;
    width: 35px;
}
#zhong #box p:nth-of-type(4) img:hover{
    /* background: url(../img/l_1_h.png)no-repeat;
    background-size: 35px; */
    background: #FF3C3C;
}
#bottom p:nth-of-type(1){
    margin-top: 50px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
#bottom p:nth-of-type(2){
    margin-top: 10px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
#zc{
    width: 330px;
    margin: 0px auto;
    margin-top: 50px;
}
#zc h1{
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
#zc input{
    width: 330px;
    height: 50px;
    margin-top: 10px;
    font-size: 14px;
    text-indent: 2em;
}
#zc input:nth-of-type(2){
    width: 200px;
}
#zc>span{
    display: inline-block;
    width: 120px;
    height: 50px;
    text-align: center;
    font-size: 13px;
    line-height: 50px;
    color: white;
    margin-left: 5px;
    border-radius: 2px;
    background: #FF3C3C;
}
#zc p:nth-of-type(1){
    margin-top: 20px;
}
#zc p:nth-of-type(1) span{
    color: #287ED4;
}
#zc p:nth-of-type(2){
    width: 330px;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 50px;
    background: #FF3C3C;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 2px;
}








